<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <display-name>TestServlet</display-name>
  <servlet-name>TestServlet</servlet-name>
  <servlet-class>com.jpower.dispatcher.TestServlet</servlet-class>
 </servlet>
<servlet>
  <display-name>UploadServlet</display-name>
  <servlet-name>UploadServlet</servlet-name>
  <servlet-class>com.jpower.content.servlet.UploadServlet</servlet-class>
</servlet>
<servlet>
  <display-name>AuthenServlet</display-name>
  <servlet-name>AuthenServlet</servlet-name>
  <servlet-class>com.jpower.content.servlet.AuthenServlet</servlet-class>
</servlet>
 <servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/servlet/test</url-pattern>
</servlet-mapping>
<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/servlet/upload</url-pattern>
</servlet-mapping>
<servlet-mapping>
		<servlet-name>AuthenServlet</servlet-name>
		<url-pattern>/servlet/authenticate</url-pattern>
</servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
</web-app>
